extends ../index

block content
  h1= title
  p Welcome to #{title}

  div#games_list
    table
      tr
        th Player
        th Elo
        th WR
        th Number Of Games
        th Created At
        th Action
      each game in games
        tr
          td= game.player_1.name
          td= game.player_1.elo
          td= game.player_1.winrate
          td= game.player_1.number_of_games
          td= game.created_at
          th
            a(href="/game/" + game.token) Join

  div#player_list
    table
      tr
        th Player
        th Elo
        th WR
        th Number Of Games
        th Last Game
      each player in players
        tr
          td= player.name
          td= player.elo
          td= player.winrate
          td= player.number_of_games
          td= player.last_game
